{{$name := .Get "name" | default ""}}
{{$span := .Get "span" | default 6}}
{{$hex := .Get "hex" | default "#000000"}}
{{$rgb := .Get "rgb" | default ""}}
{{$pantone := .Get "pantone" | default ""}}
{{$cmyk := .Get "cmyk" | default ""}}
{{$mui := .Get "mui" | default ""}}

<div class="span-{{$span}}">
  <div class="color-shortcode" style="background: {{$hex}}"></div>
  {{if ne $name ""}}<p class="color-name"><b>{{$name}}</b></p>{{end}}
  {{if ne $hex ""}}<p><b>HEX:</b> {{$hex}}</p>{{end}}
  {{if ne $rgb ""}}<p><b>RGB:</b> {{$rgb}}</p>{{end}}
  {{if ne $pantone ""}}<p><b>PANTONE:</b> {{$pantone}}</p>{{end}}
  {{if ne $cmyk ""}}<p><b>CMYK:</b> {{$cmyk}}</p>{{end}}
  {{if ne $mui ""}}<p><b>MUI:</b> {{$mui}}</p>{{end}}
</div>
