$primary-color: $user-primary-color;
$secondary-color: $user-secondary-color;
$white: rgb(255, 255, 255);
$content-bg: #f9f9f9;
$gray: #ebebeb;
$dark-gray: #90a4ae;
$body-text: #333333;
$divider-title: rgb(84, 110, 122);

$success: rgb(139, 195, 74);
$success-dark: rgb(29, 125, 63);
$success-light: rgb(234, 250, 234);
$danger: rgb(255, 221, 221);
$danger-dark: rgb(206, 55, 55);
$danger-light: rgb(255, 245, 245);
$image-dark-bg: rgb(51, 51, 51);
$image-light-bg: rgb(242, 242, 242);
$nuetral: rgb(102, 102, 102);
$nuetral-border: 1px solid rgb(238, 238, 238);
$nuetral-background: rgb(249, 249, 249);
$warning: rgb(255, 239, 170);
$warning-dark: rgb(150, 105, 0);
$warning-light: rgb(255, 246, 221);
$info: #b6effb;
$info-dark: #055160;
$info-light: #cff4fc;

$spacing: 24px;
$padding: 40px;